article{
    display: flex;
    justify-content: space-evenly;
    height: 25vh;
    border-bottom: 2px solid grey;
    margin-bottom: 2%;
    position: relative;
    // padding-left: 2rem;
    img{
        height: 23vh;
        width:20vw;
    }
    div{
        display: flex;
        // width: 50vw;
        flex-direction: column;
        padding-left: 2%;
        // border: 1px solid red;
        justify-content: flex-start;
        color: grey;
        h1{
            margin: 0px;
            color: black;
            font-size: 1.5rem;
        }
    }
    
}
article:hover{
    opacity:0.8;
}