.tale-city-container {
  width: 50vw;
  position: relative;
  //   padding: 1.2rem;
  // margin-left: 10%;
  border-left: 2px solid #e9e7e7;
  border-right: 2px solid #e9e7e7;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  // border: 1px solid red;
  // background-color: #f9f9f9;
}
