.sidebar {
  width: 10vw;
  height: 95vh;
  color: black;
  background-color: #c2ccc5;
  display: flex;
  flex-direction: column;
  align-items: center;
  div{
      padding-top: 10%;
      padding-bottom: 10%;
  }
  .footer{
      margin-top: 70vh;
  }
  .navitem{
    color: black;
    font-size: 1.2rem;
    text-decoration: none;
  }
  .navitem-a{
    text-decoration: underline;
    text-decoration-color: #142E54;
  }
}
