.post-preview-container{
    width: 100%;
    position: relative;
    // border: 1px solid red;
    // padding-left: 2rem;
    .post-preview-container-title{
        color: black;
        font-size: 1.5rem;
    }
}