.post-preview-container{
    // width: 50vw;
    // border: 1px solid red;
    // padding-left: 2rem;
    .post-preview-container-title{
        color: #132D54;
        font-size: 3rem;
        margin: 0;
        padding:1rem;
        font-weight: bold;
        // text-decoration: underline;
    }
    .no-content{
       text-align: center;
       font-size: 1.4rem;
    }
}